





@media (min-width:320px) {
    body{
        display: inline-block;
        flex-direction: column;
    }
    .logo img{
        width:100%;
        position: relative;
        padding: 20px;
    }
    .header{
        display: none;
    }

    .form-container{
        text-align: center;
               
    }
    .form-login{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .login-container{
        display: inline;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
                     
    }

    .footer{
       display:none;     
    }
}