.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

img {
    width: 220px;
    height: 300px;
}

.register-form h3 {
    color: black;
    margin: 20px 0;
    text-align: center;
}

.register-form {
    width: 90%;
}

.form-register {
    display: flex;
    flex-direction: column;
}

.form-register p {
    font-size: 13px;
    margin-top: 10px;
}

.register-home {
    justify-content: center;
    display: flex;
}