*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

:root {
    --title-color: black;
    --primary-color: #E8505B;
}

html{
    
    font-family: Roboto, sans-serif;

}

body{
     background: #fafaf5;
    
}

ul,li {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;   
}

button{
    cursor: pointer;
}

a:link{
    text-decoration: none;
    color: black;
   
}

a:hover{
    color: rgb(38, 0, 255)
}
#header{
   display: flex;
   flex-wrap: wrap;

    
}

#header img{
    width: 80px;
    height: 80px;
}

.header.block{
    display:block;
    
}

.footer{
    background-color: rgb(194, 5, 115);
    height: 30px;
    align-items: center;
    padding: 0 40px;
    position: absolute;
    bottom: 0;
    color: rgb(253, 253, 253);
    display: none;
    
 }